	<!-- header -->

	<!-- //top-bar -->
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!--Font awsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

	<style>
	#navbar_top .active 
{
    text-decoration-line: underline !important;
    text-decoration-thickness: 2px !important;
    color: blue!important;
}
.navbar{
    color: black;
}  a.navbar-brand {
    font-size: 25px!important;
  }

	</style>
	<!-- header 2 -->
	<nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-light">
		<div class="container">
		   <a class="navbar-brand font-weight-bold text-dark small" href="{% url 'home' %}" > Online Health Care.</a>
		   		   <button class="navbar-toggler text-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			   <span class="navbar-toggler-icon"></span>
			 </button>
			 <div class="collapse navbar-collapse scrollspy-example" id="navbarSupportedContent" data-spy="scroll" data-target="#navbar_top" data-offset="0">
			   <ul class="navbar-nav ml-auto">
				 <li class="nav-item">
					 <a class="nav-link text-dark" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
				   </li>
				   <li class="nav-item dropdown">
					 <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dashboard
					 </a>
					 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					   <a class="dropdown-item" href="{% url 'diabetesdb' %}">Diabetes </a>
					   <div class="dropdown-divider"></div>
					   <a class="dropdown-item" href="{% url 'coviddb' %}">Covid </a>
					   <div class="dropdown-divider"></div>
					   <a class="dropdown-item" href="{% url 'alcoholdb' %}">Alcohol</a>
					 </div>
				   </li>
				   <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Service
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" href="{% url 'diabetes' %}">Diabetes </a>
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item" href="{% url 'covid' %}">Covid </a>
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item" href="{% url 'alcohol' %}">Alcohol </a>
					 
					</div>
				  </li>
				  
			   </ul>
			 
			 </div>
		</div> <!-- container-fluid.// -->
	   </nav>
	
	<!-- //header 2 -->
